alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'
alias masterconfig='config checkout master; config cherry-pick -x linux; config push; config checkout linux;'
alias vi='nvim'
alias vim='nvim'
alias cat='pygmentize -O style=native -g'
alias ls='ls -G'
alias sprnpm='cp ~/.npmrc{_spr,}'
alias sprnpmclear='rm ~/.npmrc'
alias npmscripts='jq -r ".scripts | to_entries[] | \"$(tput bold)$(tput setaf 2)\(.key)$(tput sgr0)\t$(tput setaf 4)\(.value)$(tput sgr0)\"" package.json | expand -t 30'
alias npmdeps='jq -r ".dependencies | to_entries[] | \"$(tput bold)$(tput setaf 2)\(.key)$(tput sgr0)\t$(tput setaf 4)\(.value)$(tput sgr0)\"" package.json | expand -t 35'
alias npmdevdeps='jq -r ".devDependencies | to_entries[] | \"$(tput bold)$(tput setaf 2)\(.key)$(tput sgr0)\t$(tput setaf 4)\(.value)$(tput sgr0)\"" package.json | expand -t 35'

alias bw='bugwarrior-pull; task sync' 
alias notes='taskopen +ACTIVE'

alias tx_config='tmuxp load -y ~/.tmuxp.json'
alias tx_tasks='tmuxp load -y ~/.task/tmuxp.yaml'
alias tx_aero='tmuxp load -y ~/src/aero-frontend-stack/'
alias tx_workspace='tmuxp load -y ~/src/aero-frontend-stack/app/workspace/.tmuxp.yaml'


